* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  width: 100%;
}

:root {
    --primary: #1a365d;
    --primary_light:#2c5282;
    --accent: #ff5168;
    --text: #2d3748;
    --text_light: #718096;
    --bg: #f1f1f1;
    --white: #ffffff;
    --green: #38a169;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow_hover: 0 0px 20px rgba(0, 0, 0, 0.1);
    --form_radius: 6px;
}

body {
    background: var(--bg);
    color: var(--text_light);
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accent {
    color: var(--accent);
}

/* #region Header */

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
    background: var(--white);
    width: 100%;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    max-width: 1200px;
}
.header_container .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
.header_container .logo svg {
    width: 40px;
    height: 40px;
}
.header_container .logo_text {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}
.header_container .phone {
    margin-right: 2rem;
    margin-left: auto;
    width: fit-content;
    color: var(--text);
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
}
.header_container nav {
    display: flex;
    gap: 2rem;
}
.header_container nav a {
    position: relative;
    transition: color 0.2s ease;
    color: var(--text);
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.header_container nav a:hover {
    color: var(--primary);
}
.header_container nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.2s ease;
    background: var(--accent);
    width: 0;
    height: 2px;
    content: '';
}
.header_container nav a:hover::after {
    width: 100%;
}
.menu_button {
    display: none;
    cursor: pointer;
    margin-top: 4px;
    border: none;
    background: none;
}

/* #endregion Header */

/* #region Buttons */
.btn {
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    padding: 1rem 3rem;
    font-weight: 600;
    text-decoration: none;
}
.btn:hover {
    transform: translateY(-2px);
}
.btn.solid_blue {
    border: none;
    background: var(--primary);
    color: var(--white);
}
.btn.solid_blue:hover {
    box-shadow: var(--shadow_hover);
    background: var(--primary_light);
}
.btn.solid_blue.disabled {
    background: var(--text_light);
}
.btn.solid_blue.submitted {
    background: var(--green);
}
.btn.wire_blue {
    box-shadow: var(--text_light) 0px 0px 0px 2px;
    border: none;
    background: transparent;
    color: var(--text_light);
}
.btn.wire_blue:hover {
    box-shadow: var(--primary) 0px 0px 0px 2px;
    color: var(--primary);
}
.btn_outline {
    margin-left: 1rem;
    border: 2px solid var(--primary);
    background: transparent;
    color: var(--primary);
}
.btn_outline:hover {
    background: var(--primary);
    color: var(--white);
}
/* #endregion Buttons */

/* #region Sections */

section {
    scroll-margin-top: 4rem;
} 
section {
    margin: 0 auto;
    padding: 2rem 2rem;
    max-width: 1200px;
}
section h1 {
    color: var(--primary);
    font-size: 3rem;
}
section h2 {
    color: var(--primary);
    font-size: 2.5rem;
}

section h3 {
    color: var(--primary);
    font-size: 1.3rem;
}


.section_title {
    margin-bottom: 1rem;
    text-align: center;
}
.section-subtitle {
    margin-bottom: 3rem;
    color: var(--text_light);
    text-align: center;
}

/* #endregion Sections */

/* #region Hero */
.hero {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-items: center;
    align-self: end;
    gap: 4rem;
    padding: 4rem 2rem 0rem;
}
.hero h1 {
    margin-bottom: 1.5rem;
    line-height: 1.2;
}
.hero p {
    margin-bottom: 2rem;
}
.hero .btn {
    min-width: 16rem;
    text-align: center;
}
.hero_image {
    display: flex;
    justify-content: center;
}
.hero_image img {
    max-width: 100%;
    height: auto;
}
/* #endregion Hero */

/* #region Services */
.services_container {
    transform: translateZ(0);
    filter: drop-shadow(var(--shadow));
}
.services_tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.service_tab {
    transition: color 0.2s ease;
    cursor: pointer;
    border-radius: var(--form_radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    padding: 2rem;
    width: 100%;
    color: var(--primary);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}
.service_tab:hover:not(.active) {
    color:var(--accent);
}
.service_tab.active {
    background-color: var(--white);
}
.service_grid {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    border-radius: var(--form_radius);
    background-color: var(--white);
    padding: 2rem;
    max-width: 1200px;
}
.service_grid.grid_0 {
    border-top-left-radius: 0;
}
.service_grid.grid_1 {
    border-top-right-radius: 0;
}
.service_grid.active {
    display: grid;
}
.service_card {
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    padding: 2rem;
}
.service_card .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.service_card .details {
    padding-left: 2rem;
}
.service_card .circle {
    border-radius: 50%; 
    background: var(--primary);
    width: 1rem;
    height: 1rem;
}
.service_card h3 {
    padding-left: 1rem;
}


/* #endregion Services */

/* #region Price */

.price {
    display: none;
}
.price .price_subtitle {
    margin-bottom: 1rem;
    text-align: left;
}
.price table {
    border-collapse: collapse;
}
.price tr {
    transition: background-color 0.2s ease;
    background-color: var(--white);
}
.price tr:hover {
    background-color: var(--bg);
}
.price tr:hover td:not(:last-child) {
    border-right:1px rgba(26, 26, 26, 0.1) solid;
}
.price th {
    border: 1px var(--bg) solid;
    background: var(--primary);
    padding: 1rem;
    color: var(--white);
    font-weight: 600;
}
.price th:first-child {
    padding: 1rem 2rem;
    text-align: start;
}
.price td {
    border: 1px var(--bg) solid;
    padding: 2rem;
}
.price td:not(:first-child) {
    min-width: 12rem;
    text-align: center;
}
.price_value {
    display: inline-block;
    vertical-align: middle;
    height: 2.2rem;
    font-weight: 500;
    font-size: 1.2rem;
}
.price .container1 {
    display: none;
}

@media (max-width: 768px) {
    .price th:not(:first-child) {
        display: none;
    }
    .price td:not(:first-child) {
        display: none;
    }
    .price td {
        border-color: var(--bg) !important;
        padding: 1rem;
    }
    .price td > p {
        margin-bottom: 1rem;
    }
    .price .container1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

/* #endregion Price */

/* #region Ask */

.ask {
    background: var(--bg);
    max-width: 800px;
}
.ask_form {
    box-shadow: var(--shadow);
    border-radius: var(--form_radius);
    background: var(--white);
    padding: 3rem;
}
.ask_form .btn {
    padding: 1.2rem;
    width: 100%;
    font-size: 1.1rem;
}
.form_group {
    margin-bottom: 1.5rem;
}
.form_group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text);
    font-weight: 500;
}
.form_group input,
.form_group textarea {
    transition: border-color 0.3s ease;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
}
.form_group input:focus,
.form_group textarea:focus {
    outline: none;
    border-color: var(--primary);
}
.form_group textarea {
    min-height: 120px;
    resize: vertical;
}
.form_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.form_checkbox {
    margin-bottom: 1.5rem;
    padding: 0rem 2rem;
}
.form_checkbox input {
    vertical-align: sub;
    width: 1.2rem;
    height: 1.2rem;
}
.form_checkbox a {
    color: var(--text);
}
/* #endregion Ask */

/* #region About */
.about {
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: flex-start;
    gap: 6rem;
    color: var(--text_light);
}
.about_text > p {
    margin-bottom: 2rem;
}
.about_stats {
    text-align: center;
}
.about_stats.vertical {
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.about_stats.horizontal {
    display: none;
    flex-direction: row;
    gap: 0rem;
}
.about_stats h4 {
    color: var(--accent);
    font-weight: 700;
    font-size: 4rem;
}
.about_stats.vertical p {
    min-width: 10rem;
}
.about_stats p {
    color: var(--text_light);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
/* #endregion About  */

/* #region Contact */
#contact {
    display: none;
}
.contact {
    padding-bottom: 4rem;
}
.contact > h1 {
    margin-bottom: 1rem;
}
.contact_grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
    gap: 3rem;
}
.contact_item {
    display: flex;
    align-items: normal;
    gap: 1rem;
    padding: 0.5rem 0rem;
}
.contact_item > span {
    align-items: center;
}
.contact_item .icon > svg {
    opacity: 0.4;
    fill: var(--primary);
    margin-top: 4px;
    width: 24px;
    height: 24px;
}
.contact_item h3 {
    font-weight: 500;
    font-size: 1.17em;
}
.contact_item a {
    color: var(--text);
    text-decoration: none;
}
.contact_item.phone {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.contact_item.phone .icon > svg {
    margin-top: 8px;
}
.map_container {
    height: 400px;
}

/* #endregion Contact */

footer {
    background: var(--primary);
    padding: 1rem;
    color: var(--white);
}
.footer-bottom {
    color: #a0aec0;
    text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 968px) {

    .hero {
        grid-template-columns: 1fr;
        padding: 6rem 2rem 2rem;
        text-align: center;
    }

    .hero_image {
        display: none;
    }
}

@media (max-width: 768px) {

    .btn_outline {
        align-self: start;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .form_row {
        grid-template-columns: 1fr;
    }

    .contact-form {
        padding: 2rem;
    }
}